@{
    Layout = "";
}

@model ConfigureModel

@using panoRazzi.SeoOptimizer.Models;
@using Nop.Web.Framework;
@Html.Action("StoreScopeConfiguration", "Setting", new { area = "Admin" })
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-9">
                        <p>
                            Thank you for downloading & using this plugin! If you have any feedbacks on the
                            plugin, please feel free to e-mail them to
                            <a href="mailto:wooncherk@pronopcommerce.com">wooncherk@pronopcommerce.com</a>.
                        </p>
                        <p>
                            If you need nopCommerce plugin or theme development service, please feel free
                            to discuss with me by sending your request to
                            <a href="mailto:wooncherk@pronopcommerce.com">wooncherk@pronopcommerce.com</a>.
                        </p>
                        <p>
                            Last but not least, please visit <a href="http://www.pronopcommerce.com">
                                Pro nopCommerce
                            </a> to get more tips & trick on nopCommerce!
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.Domain_OverrideForStore, model => model.Domain, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.Domain)
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.Domain)
                        @Html.ValidationMessageFor(model => model.Domain)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.ProductKey_OverrideForStore, model => model.ProductKey, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.ProductKey)
                    </div>
                    <div class="col-md-9">
                        @Html.TextBoxFor(model => model.ProductKey)
                        @Html.ValidationMessageFor(model => model.ProductKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.BlockedUrls_OverrideForStore, model => model.BlockedUrls, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.BlockedUrls)
                    </div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.BlockedUrls, new { row = "10", col = "50" })
                        @Html.ValidationMessageFor(model => model.BlockedUrls)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.HomePageMetaTitle_OverrideForStore, model => model.HomePageMetaTitle, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.HomePageMetaTitle)
                    </div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.HomePageMetaTitle, new { row = "10", col = "50" })
                        @Html.ValidationMessageFor(model => model.HomePageMetaTitle)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.OverrideStoreCheckboxFor(model => model.HomePageMetaDescription_OverrideForStore, model => model.HomePageMetaDescription, Model.ActiveStoreScopeConfiguration)
                        @Html.NopLabelFor(model => model.HomePageMetaDescription)
                    </div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(model => model.HomePageMetaDescription, new { row = "10", col = "50" })
                        @Html.ValidationMessageFor(model => model.HomePageMetaDescription)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.OptimizeImages)
                    </div>
                    <div class="col-md-9">
                        @Html.CheckBoxFor(m => m.OptimizeImages)
                        @Html.ValidationMessageFor(model => model.OptimizeImages)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.OptimizeImageFolders)
                    </div>
                    <div class="col-md-9">
                        @Html.TextAreaFor(m => m.OptimizeImageFolders)
                        @Html.ValidationMessageFor(model => model.OptimizeImageFolders)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.UseTinyPng)
                    </div>
                    <div class="col-md-9">
                        @Html.CheckBoxFor(m => m.UseTinyPng)
                        @Html.ValidationMessageFor(model => model.UseTinyPng) <small>@T("panoRazzi.SeoOptimizer.TinyPngExplanation")</small>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.TinyPngKey)
                    </div>
                    <div class="col-md-9">
                        @Html.EditorFor(m => m.TinyPngKey)
                        @Html.ValidationMessageFor(model => model.TinyPngKey)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="t-button" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
