@model FoxNetSoft.Plugin.Misc.Pagespeed.Models.PagespeedSettingsModel
@using System.Web.Mvc.Html
@using Nop.Web.Framework
    <script type="text/javascript">
        $(document).ready(function () {
            $("#@Html.FieldIdFor(model => model.showDebugInfo)").click(toggleshowDebugInfo);
            toggleshowDebugInfo();
        });

        function toggleshowDebugInfo() {
            if ($('#@Html.FieldIdFor(model => model.showDebugInfo)').is(':checked')) {
                $('#pnlclearlogfile, #pnlgetlogfile').show();
            }
            else {
                $('#pnlclearlogfile, #pnlgetlogfile').hide();
            }
        }
    </script>
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.showDebugInfo)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.showDebugInfo)
                        @Html.ValidationMessageFor(model => model.showDebugInfo)
                        <div id="pnlclearlogfile">
                            <a href="@Url.Action("ClearLogFile")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Misc.Pagespeed.ClearLogFile")</a>
                        </div>
                        <div id="pnlgetlogfile">
                            <a href="@Url.Action("GetLogFile")" class="k-button">@T("Admin.FoxNetSoft.Plugin.Misc.Pagespeed.GetLogFile")</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.StoreUrl)
                    </div>
                    <div class="col-md-9">
                        @Html.NopDisplayFor(model => model.StoreUrl)
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        @Html.NopLabelFor(model => model.SerialNumber)
                    </div>
                    <div class="col-md-9">
                        @Html.NopEditorFor(model => model.SerialNumber)
                        @Html.ValidationMessageFor(model => model.SerialNumber)
                    </div>
                </div>
                <p>
                    Installation and configuring plug-in at Youtube <a href="http://www.youtube.com/foxnetsoft" target="blank">www.youtube.com/foxnetsoft</a>
                    <br />
                    Installation and configuring plug-in at our site <a href="http://www.foxnetsoft.com/documentation-noppagespeedtools" target="blank">http://www.foxnetsoft.com/documentation-noppagespeedtools</a>
                    <br />
                    <a href="http://www.foxnetsoft.com" target="blank">www.foxnetsoft.com</a>
                </p>
            </div>
        </div>
    </div>
